.intro-wrapper {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  width: 40%;
  /* height: 50%; */
}

.headshot {
  height: 100%;
  width: 175px;
  margin-bottom: 1rem;
}

.intro-heading {
  font-family: "Comfortaa", cursive;
  font-size: 1.75rem;
  font-weight: 300;
  color: #DDDBF1;
  margin-bottom: 0;
}

.intro-subheading {
  font-family: "Comfortaa", cursive;
  font-weight: 300;
  line-height: 1.75rem;
  color: #DDDBF1;
  margin: 0;
}

.button-container {
  display: flex;
  flex-direction: row;
  width: 850px;
  height: 200px;
  justify-content: space-around;
  align-items: center;
  align-self: center;
  flex-wrap: wrap;
}

.button-container > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  min-width: 250px;
  padding-left: 15px;
  text-decoration: none;
  color: #DDDBF1; /* was dddbf1 */
  border: 1px solid rgba(132, 124, 224, 0.2); /* 183, 40, 59 */
  border-radius: 50px;
  background: rgba(221, 219, 241, 0.2);
  transition: all 1s;
}

.button-container > a:hover {
  background: rgba(221, 219, 241, 0.4);
  box-shadow: 0 0 25px rgb(29, 32, 43);
  color: #DDDBF1
}

.button-container > a:focus {
  outline: none;
}

.button-container > a > span {
  margin-right: 50px;
}



/* Media Queries */
/* 1200 */
@media screen and (max-width: 1200px) {
  .intro-wrapper {
    width: 65%;
  }

}

/* 990 */
@media screen and (max-width: 990px) {
  .intro-wrapper {
    width: 75%;
  }

  .headshot {
    width: 175px;
  }

  .button-container {
    flex-direction: column;
    width: 325px;
    margin-top: 50px;
  }

  .copyright {
    font-size: 0.8rem;
  }

}

/* 768 */
@media screen and (max-width: 768px) {
  .intro-wrapper {
    width: 85%;
  }

  .intro-heading {
    font-size: 1.13rem;
    line-height: 1.25rem;
  }

  .intro-subheading {
    font-size: 0.7rem;
  }

  .headshot {
    width: 150px;
  }

  .button-container > a {
    height: 40px;
  }

}
